# Git and Docker files
.git/
.gitignore
.dockerignore
Dockerfile
Docker-compose.yml

# Node.js dependencies
node_modules/
npm-debug.log

# Environment files
.env
.env.example

# Docs and README
README.md
docs/

# Test files
tests/
jest.config.js